<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.0/css/line.css">
    <link href="./assets/css/frappe-gantt.css" rel="stylesheet">
    <link href="./assets/css/icons.min.css" rel="stylesheet">
    <link href="./assets/css/app.min.css" rel="stylesheet">
    <link href="./assets/css/select2.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
<div class="wrapper mm-active">
    {% include "../share/sidebar.html" %}
    {% block content %}{% endblock %}
</div>
<div class="right-bar">
    <div class="rightbar-title">
        <a href="javascript:void(0);" class="right-bar-toggle float-right">
            <i class="dripicons-cross noti-icon"></i>
        </a>
        <h5 class="m-0">Settings</h5>
    </div>

    <div class="rightbar-content h-100" data-simplebar="init"><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden;"><div class="simplebar-content" style="padding: 0px;">

        <div class="p-3">
            <div class="alert alert-warning" role="alert">
                <strong>Customize </strong> the overall color scheme, sidebar menu, etc.
            </div>

            <!-- Settings -->
            <h5 class="mt-3">Color Scheme</h5>
            <hr class="mt-1">

            <div class="custom-control custom-switch mb-1">
                <input type="radio" class="custom-control-input" name="color-scheme-mode" value="light" id="light-mode-check" checked="">
                <label class="custom-control-label" for="light-mode-check">Light Mode</label>
            </div>

            <div class="custom-control custom-switch mb-1">
                <input type="radio" class="custom-control-input" name="color-scheme-mode" value="dark" id="dark-mode-check">
                <label class="custom-control-label" for="dark-mode-check">Dark Mode</label>
            </div>

            <!-- Width -->
            <h5 class="mt-4">Width</h5>
            <hr class="mt-1">
            <div class="custom-control custom-switch mb-1">
                <input type="radio" class="custom-control-input" name="width" value="fluid" id="fluid-check" checked="">
                <label class="custom-control-label" for="fluid-check">Fluid</label>
            </div>
            <div class="custom-control custom-switch mb-1">
                <input type="radio" class="custom-control-input" name="width" value="boxed" id="boxed-check">
                <label class="custom-control-label" for="boxed-check">Boxed</label>
            </div>

            <!-- Left Sidebar-->
            <h5 class="mt-4">Left Sidebar</h5>
            <hr class="mt-1">
            <div class="custom-control custom-switch mb-1">
                <input type="radio" class="custom-control-input" name="theme" value="default" id="default-check" checked="">
                <label class="custom-control-label" for="default-check">Default</label>
            </div>

            <div class="custom-control custom-switch mb-1">
                <input type="radio" class="custom-control-input" name="theme" value="light" id="light-check">
                <label class="custom-control-label" for="light-check">Light</label>
            </div>

            <div class="custom-control custom-switch mb-3">
                <input type="radio" class="custom-control-input" name="theme" value="dark" id="dark-check">
                <label class="custom-control-label" for="dark-check">Dark</label>
            </div>

            <div class="custom-control custom-switch mb-1">
                <input type="radio" class="custom-control-input" name="compact" value="fixed" id="fixed-check" checked="">
                <label class="custom-control-label" for="fixed-check">Fixed</label>
            </div>

            <div class="custom-control custom-switch mb-1">
                <input type="radio" class="custom-control-input" name="compact" value="condensed" id="condensed-check">
                <label class="custom-control-label" for="condensed-check">Condensed</label>
            </div>

            <div class="custom-control custom-switch mb-1">
                <input type="radio" class="custom-control-input" name="compact" value="scrollable" id="scrollable-check">
                <label class="custom-control-label" for="scrollable-check">Scrollable</label>
            </div>

            <button class="btn btn-primary btn-block mt-4" id="resetBtn">Reset to Default</button>

            <a href="https://themes.getbootstrap.com/product/hyper-responsive-admin-dashboard-template/" class="btn btn-danger btn-block mt-3" target="_blank"><i class="mdi mdi-basket mr-1"></i> Purchase Now</a>
        </div> <!-- end padding-->

    </div></div></div></div><div class="simplebar-placeholder" style="width: auto; height: 752px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: hidden;"><div class="simplebar-scrollbar" style="height: 0px; display: none;"></div></div></div>
</div>
<div class="rightbar-overlay"></div>

<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/vendor.min.js"></script>
<script src="./assets/js/app.min.js"></script>
<script src="./assets/js/frappe-gantt.min.js"></script>
<script src="./assets/js/demo.project-gantt.js"></script>
<script src="./assets/js/calendar.js"></script>
<script src="./assets/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
       let number_week = $('#calendar .week').length;
       let width_char = number_week * 253;
       $('.chart__row,.box-char,.chart').css('width',width_char);

        $( ".epic,.box-epic-detail").mouseleave(function() {
            $('.chart__row .row > div,.epic__sub li,.epic__header').css('background','none');
        });

        //call select2.min.js
        $('.sldr').select2();

        $('.form-control').datepicker({
            todayHighlight: true
        });

        $('.epic__list li').on('click',function () {
            var hc = $('.chart__row').height();
            $('.chart__col .col').css('height',hc);
        });



       $('.epic .icon').on('click',function () {
           $(this).parents('.epic__item').toggleClass('active');
           let idrow = $(this).parents('.epic__item').index() + 1;
           $(`.chart__row .row:nth-child(${idrow})`).toggleClass('active');

       });
       $('.btn-add').on('click',function () {
           $(this).parents('.epic__item').addClass('active');
           let idrow = $(this).parents('.epic__item').index() + 1;
           $(`.chart__row .row:nth-child(${idrow})`).addClass('active');
       });

       //hover
       $('.epic__sub li').hover(function () {
           let idrow = $(this).parents('.epic__item').index() + 1;
           let idrowsub = $(this).index() + 2;
           $('.chart__row .row > div,.epic__sub li,.epic__header').css('background','none');
           $(`.chart__row .row:nth-child(${idrow}) .tsk-item:nth-child(${idrowsub})`).css('background','#ebecf0');
           $(this).css('background','#ebecf0');
       });

       $('.chart__row .row .tsk-item').hover(function () {
           let rindex = $(this).index();
           let rindex1 = $(this).parents('.row').index() + 1;
           $('.chart__row .row > div,.epic__sub li,.epic__header').css('background','none');
           $(`.epic__item:nth-child(${rindex1}) .epic__sub li:nth-child(${rindex})`).css('background','#ebecf0');
           $(this).css('background','#ebecf0');
       });

       $('.epic__header').hover(function () {
           let idrow = $(this).parents('.epic__item').index() + 1;
           $(this).css('background','#ebecf0');
           $('.chart__row .row > div,.epic__sub li,.epic__header').css('background','none');
           $(`.chart__row .row:nth-child(${idrow}) .tsk-key`).css('background','#ebecf0');
           $(this).css('background','#ebecf0');
       });

       $('.chart__row .row .tsk-key').hover(function () {
           let rindex = $(this).parents('.row').index() + 1;
           $('.chart__row .row > div,.epic__sub li,.epic__header').css('background','none');
           $(this).css('background','#ebecf0');
           $(`.epic__item:nth-child(${rindex}) .epic__header`).css('background','#ebecf0');
       });

       //js select with img
        function select_img(selectimg,select_list,select_btn,select_item) {
            var langArray = [];
            $(selectimg).each(function(){
                var img = $(this).attr("data-img");
                var clas = $(this).attr("data-class");
                var text = this.innerText;
                var item = '<div class="selected"><img src="'+ img +'" alt=""/><span>'+ text +'</span></div>';
                langArray.push(item);
            });
            $(select_list).html(langArray);
            $(select_btn).html(langArray[0]);

            //change button stuff on click
            $(select_item).click(function(){
                var img = $(this).find('img').attr("src");
                var text = this.innerText;
                var item = '<div class="selected"><img src="'+ img +'" alt="" /><span>'+ text +'</span></div>';
                $(select_btn).html(item);
                $(select_list).toggle();
                //console.log(value);
            });

            $(select_btn).click(function(){
                $(select_list).toggle();
            });
        }
        function select_class(selectclass,select_list,select_btn,select_item) {
            var langArray = [];
            $(selectclass).each(function(){
                var clas = $(this).attr("data-class");
                var text = this.innerText;
                var item = '<div class="selected '+clas+'"><span class="'+clas+'">'+ text +'</span></div>';
                langArray.push(item);
            });
            $(select_list).html(langArray);
            $(select_btn).html(langArray[0]);

            //change button stuff on click
            $(select_item).click(function(){
                var text = this.innerText;
                var clas = this.className;
                var item = '<div class="selected '+clas+'"><span>'+ text +'</span></div>';
                $(select_btn).html(item);
                $(select_list).toggle();
                //console.log(value);
            });

            $(select_btn).click(function(){
                $(select_list).toggle();
            });
        }
        select_img('.assignee .select_dr option','.assignee .select_list','.assignee .btn-select','.assignee .select_list .selected');
        select_img('.reporter .select_dr option','.reporter .select_list','.reporter .btn-select','.reporter .select_list .selected');
        select_class('.task-status .select_dr option','.task-status .select_list','.task-status .btn-select','.task-status .select_list .selected span');

        $(document).mouseup(function(e){
            var container = $(".select_list");
            if (!container.is(e.target) && container.has(e.target).length === 0)
            {
                $('.select_list').css('display','none');
            }
        });

        //scroll

        window.addEventListener('wheel', function(event)
        {
            var tg = $('.scrollcs');
            if (event.deltaY < 0)
            {
                tg.scroll(function() {
                    var sc = $(this).scrollTop() - 30;
                    tg.scrollTop(sc);
                });
            }
            else if (event.deltaY > 0)
            {
                tg.scroll(function() {
                    var sc = $(this).scrollTop() + 30;
                    tg.scrollTop(sc);
                });
            }
        });



        $('.epic__sub li,.epic__header p').on('click',function () {
            $('.es-info').addClass('show');
            $('.box-char,.epic_nd').removeClass('scrollcs').css('overflow-y','hidden');

        });
        $('.es-info .close').on('click',function () {
            $('.es-info').removeClass('show');
            $('.box-char,.epic_nd').addClass('scrollcs').css('overflow-y','auto');
        });

        $('.modal-task').modal('show');

    });
</script>
</body>
</html>