<div class="content-page pr-0 pb-0">
    <div class="content">
        <!-- Topbar Start -->
        <div class="navbar-custom">
            <ul class="list-unstyled topbar-right-menu float-right mb-0">
                <li class="dropdown notification-list d-lg-none">
                    <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <i class="dripicons-search noti-icon"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-animated dropdown-lg p-0">
                        <form class="p-3">
                            <input type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
                        </form>
                    </div>
                </li>
                <li class="dropdown notification-list topbar-dropdown">
                    <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <img src="./assets/img/us.jpg" alt="user-image" class="mr-0 mr-sm-1" height="12">
                        <span class="align-middle d-none d-sm-inline-block">English</span> <i class="mdi mdi-chevron-down d-none d-sm-inline-block align-middle"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated topbar-dropdown-menu">

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <img src="./assets/img/germany.jpg" alt="user-image" class="mr-1" height="12"> <span class="align-middle">German</span>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <img src="./assets/img/italy.jpg" alt="user-image" class="mr-1" height="12"> <span class="align-middle">Italian</span>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <img src="./assets/img/spain.jpg" alt="user-image" class="mr-1" height="12"> <span class="align-middle">Spanish</span>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <img src="./assets/img/russia.jpg" alt="user-image" class="mr-1" height="12"> <span class="align-middle">Russian</span>
                        </a>

                    </div>
                </li>

                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <i class="dripicons-bell noti-icon"></i>
                        <span class="noti-icon-badge"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated dropdown-lg">

                        <!-- item-->
                        <div class="dropdown-item noti-title">
                            <h5 class="m-0">
                                            <span class="float-right">
                                                <a href="javascript: void(0);" class="text-dark">
                                                    <small>Clear All</small>
                                                </a>
                                            </span>Notification
                            </h5>
                        </div>

                        <div style="max-height: 230px;" data-simplebar="init"><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" style="height: auto; overflow: hidden;"><div class="simplebar-content" style="padding: 0px;">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-primary">
                                    <i class="mdi mdi-comment-account-outline"></i>
                                </div>
                                <p class="notify-details">Caleb Flakelar commented on Admin
                                    <small class="text-muted">1 min ago</small>
                                </p>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-info">
                                    <i class="mdi mdi-account-plus"></i>
                                </div>
                                <p class="notify-details">New user registered.
                                    <small class="text-muted">5 hours ago</small>
                                </p>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon">
                                    <img src="./assets/img/avatar-2.jpg" class="img-fluid rounded-circle" alt=""> </div>
                                <p class="notify-details">Cristina Pride</p>
                                <p class="text-muted mb-0 user-msg">
                                    <small>Hi, How are you? What about our next meeting</small>
                                </p>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-primary">
                                    <i class="mdi mdi-comment-account-outline"></i>
                                </div>
                                <p class="notify-details">Caleb Flakelar commented on Admin
                                    <small class="text-muted">4 days ago</small>
                                </p>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon">
                                    <img src="./assets/img/avatar-4.jpg" class="img-fluid rounded-circle" alt=""> </div>
                                <p class="notify-details">Karen Robinson</p>
                                <p class="text-muted mb-0 user-msg">
                                    <small>Wow ! this admin looks good and awesome design</small>
                                </p>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-info">
                                    <i class="mdi mdi-heart"></i>
                                </div>
                                <p class="notify-details">Carlos Crouch liked
                                    <b>Admin</b>
                                    <small class="text-muted">13 days ago</small>
                                </p>
                            </a>
                        </div></div></div></div><div class="simplebar-placeholder" style="width: 0px; height: 0px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: hidden;"><div class="simplebar-scrollbar" style="height: 0px; display: none;"></div></div></div>

                        <!-- All-->
                        <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
                            View All
                        </a>

                    </div>
                </li>

                <li class="dropdown notification-list d-none d-sm-inline-block">
                    <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <i class="dripicons-view-apps noti-icon"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated dropdown-lg p-0">

                        <div class="p-2">
                            <div class="row no-gutters">
                                <div class="col">
                                    <a class="dropdown-icon-item" href="#">
                                        <img src="./assets/img/slack.png" alt="slack">
                                        <span>Slack</span>
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="dropdown-icon-item" href="#">
                                        <img src="./assets/img/github.png" alt="Github">
                                        <span>GitHub</span>
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="dropdown-icon-item" href="#">
                                        <img src="./assets/img/dribbble.png" alt="dribbble">
                                        <span>Dribbble</span>
                                    </a>
                                </div>
                            </div>

                            <div class="row no-gutters">
                                <div class="col">
                                    <a class="dropdown-icon-item" href="#">
                                        <img src="./assets/img/bitbucket.png" alt="bitbucket">
                                        <span>Bitbucket</span>
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="dropdown-icon-item" href="#">
                                        <img src="./assets/img/dropbox.png" alt="dropbox">
                                        <span>Dropbox</span>
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="dropdown-icon-item" href="#">
                                        <img src="./assets/img/g-suite.png" alt="G Suite">
                                        <span>G Suite</span>
                                    </a>
                                </div>

                            </div>
                        </div>

                    </div>
                </li>

                <li class="notification-list">
                    <a class="nav-link right-bar-toggle" href="javascript: void(0);">
                        <i class="dripicons-gear noti-icon"></i>
                    </a>
                </li>

                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle nav-user arrow-none mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <span class="account-user-avatar"> 
                                        <img src="./assets/img/avatar-1.jpg" alt="user-image" class="rounded-circle">
                                    </span>
                        <span>
                                        <span class="account-user-name">Dominic Keller</span>
                                        <span class="account-position">Founder</span>
                                    </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
                        <!-- item-->
                        <div class=" dropdown-header noti-title">
                            <h6 class="text-overflow m-0">Welcome !</h6>
                        </div>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="mdi mdi-account-circle mr-1"></i>
                            <span>My Account</span>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="mdi mdi-account-edit mr-1"></i>
                            <span>Settings</span>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="mdi mdi-lifebuoy mr-1"></i>
                            <span>Support</span>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="mdi mdi-lock-outline mr-1"></i>
                            <span>Lock Screen</span>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="mdi mdi-logout mr-1"></i>
                            <span>Logout</span>
                        </a>

                    </div>
                </li>

            </ul>
            <button class="button-menu-mobile open-left disable-btn">
                <i class="mdi mdi-menu"></i>
            </button>
            <div class="app-search dropdown d-none d-lg-block">
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control dropdown-toggle" placeholder="Search..." id="top-search">
                        <span class="mdi mdi-magnify search-icon"></span>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </div>

                </form>

                <div class="dropdown-menu dropdown-menu-animated dropdown-lg" id="search-dropdown">
                    <!-- item-->
                    <div class="dropdown-header noti-title">
                        <h5 class="text-overflow mb-2">Found <span class="text-danger">17</span> results</h5>
                    </div>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="uil-notes font-16 mr-1"></i>
                        <span>Analytics Report</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="uil-life-ring font-16 mr-1"></i>
                        <span>How can I help you?</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="uil-cog font-16 mr-1"></i>
                        <span>User profile settings</span>
                    </a>

                    <!-- item-->
                    <div class="dropdown-header noti-title">
                        <h6 class="text-overflow mb-2 text-uppercase">Users</h6>
                    </div>

                    <div class="notification-list">
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="media">
                                <img class="d-flex mr-2 rounded-circle" src="./assets/img/avatar-2.jpg" alt="Generic placeholder image" height="32">
                                <div class="media-body">
                                    <h5 class="m-0 font-14">Erwin Brown</h5>
                                    <span class="font-12 mb-0">UI Designer</span>
                                </div>
                            </div>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="media">
                                <img class="d-flex mr-2 rounded-circle" src="./assets/img/avatar-5.jpg" alt="Generic placeholder image" height="32">
                                <div class="media-body">
                                    <h5 class="m-0 font-14">Jacob Deo</h5>
                                    <span class="font-12 mb-0">Developer</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end Topbar -->
        <!-- Start Content-->
        <div class="container-fluid pr-0">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right pr-4">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Apps</a></li>
                                <li class="breadcrumb-item active">Projects Calendar</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Projects Calendar</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <div class="card mb-0">
                <div class="card-body pr-0 pb-1">
                    <div class="row">
                        <div class="col-auto">
                            <a href="javascript: void(0);" class="btn btn-success btn-sm mb-2">Add New Task</a>
                        </div>
                        <div class="col text-sm-right">
                            <div class="btn-group btn-group-sm btn-group-toggle mb-2 pr-3" data-toggle="buttons" id="modes-filter">
                                <label class="btn btn-light d-none d-sm-inline-block">
                                    <input type="radio" name="modes" id="qday" value="Quarter Day"> Quarter Day
                                </label>
                                <label class="btn btn-light">
                                    <input type="radio" name="modes" id="hday" value="Half Day"> Half Day
                                </label>
                                <label class="btn btn-light">
                                    <input type="radio" name="modes" id="day" value="Day"> Day
                                </label>
                                <label class="btn btn-light active">
                                    <input type="radio" name="modes" id="week" value="Week" checked=""> Week
                                </label>
                                <label class="btn btn-light">
                                    <input type="radio" name="modes" id="month" value="Month"> Month
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="box-epic flex">
                        <div class="epic">
                            <h4>Epic</h4>
                            <div class="epic_nd scrollcs">
                                <div class="epic__content">
                                    <div class="epic__item flex">
                                        <ul class="epic__list">
                                            <li>
                                                <div class="epic__header flex-lc">
                                                    <div class="icon flex-center">
                                                        <img class="icon-arr" src="./assets/img/chevron-down-solid.svg" alt="">
                                                    </div>
                                                    <img src="./assets/img/viewavatar.svg" alt="">
                                                    <p>Tiếp nhận yêu cầu</p>
                                                    <div class="progress">
                                                        <div class="progress__value"></div>
                                                    </div>
                                                    <button type="button" class="btn-add">
                                                        <i class="uil uil-plus"></i>
                                                        <span>Add a child issus</span>
                                                    </button>
                                                </div>
                                                <ul class="epic__sub">
                                                    <li>
                                                        <img src="./assets/img/viewavatar1.svg" alt="">
                                                        <span>Review thiết kế và phản hồi</span>
                                                    </li>
                                                    <li>
                                                        <img src="./assets/img/viewavatar1.svg" alt="">
                                                        <span>Họp trao đổi nhóm</span>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="epic__item flex">
                                        <ul class="epic__list">
                                            <li>
                                                <div class="epic__header flex-lc">
                                                    <div class="icon flex-center">
                                                        <img class="icon-arr" src="./assets/img/chevron-down-solid.svg" alt="">
                                                    </div>
                                                    <img src="./assets/img/viewavatar.svg" alt="">
                                                    <p>Dựng code frontend</p>
                                                    <div class="progress">
                                                        <div class="progress__value"></div>
                                                    </div>
                                                    <button type="button" class="btn-add">
                                                        <i class="uil uil-plus"></i>
                                                        <span>Add a child issus</span>
                                                    </button>
                                                </div>
                                                <ul class="epic__sub">
                                                    <li>
                                                        <img src="./assets/img/viewavatar1.svg" alt="">
                                                        <span>Dựng phần html</span>
                                                    </li>
                                                    <li>
                                                        <img src="./assets/img/viewavatar1.svg" alt="">
                                                        <span>Dựng các phần effect</span>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="epic__item flex">
                                        <ul class="epic__list">
                                            <li>
                                                <div class="epic__header flex-lc">
                                                    <div class="icon flex-center">
                                                        <img class="icon-arr" src="./assets/img/chevron-down-solid.svg" alt="">
                                                    </div>
                                                    <img src="./assets/img/viewavatar.svg" alt="">
                                                    <p>Dựng Backend</p>
                                                    <div class="progress">
                                                        <div class="progress__value"></div>
                                                    </div>
                                                    <button type="button" class="btn-add">
                                                        <i class="uil uil-plus"></i>
                                                        <span>Add a child issus</span>
                                                    </button>
                                                </div>
                                                <ul class="epic__sub">
                                                    <li>
                                                        <img src="./assets/img/viewavatar1.svg" alt="">
                                                        <span>Ghép với giao diện dựng</span>
                                                    </li>
                                                    <li>
                                                        <img src="./assets/img/viewavatar1.svg" alt="">
                                                        <span>Code phần xử lý</span>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="epic__item flex">
                                        <ul class="epic__list">
                                            <li>
                                                <div class="epic__header flex-lc">
                                                    <div class="icon flex-center">
                                                        <img class="icon-arr" src="./assets/img/chevron-down-solid.svg" alt="">
                                                    </div>
                                                    <img src="./assets/img/viewavatar.svg" alt="">
                                                    <p>Review</p>
                                                    <div class="progress">
                                                        <div class="progress__value"></div>
                                                    </div>
                                                    <button type="button" class="btn-add">
                                                        <i class="uil uil-plus"></i>
                                                        <span>Add a child issus</span>
                                                    </button>
                                                </div>
                                                <ul class="epic__sub">
                                                    <li>
                                                        <img src="./assets/img/viewavatar1.svg" alt="">
                                                        <span>Test phần hiển thị</span>
                                                    </li>
                                                    <li>
                                                        <img src="./assets/img/viewavatar1.svg" alt="">
                                                        <span>Test phần gửi quà</span>
                                                    </li>
                                                    <li>
                                                        <img src="./assets/img/viewavatar1.svg" alt="">
                                                        <span>Test logo các phần UI</span>
                                                    </li>
                                                    <li>
                                                        <img src="./assets/img/viewavatar1.svg" alt="">
                                                        <span>Check speedtest</span>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="epic__item flex">
                                        <ul class="epic__list">
                                            <li>
                                                <div class="epic__header flex-lc">
                                                    <div class="icon flex-center">
                                                        <img class="icon-arr" src="./assets/img/chevron-down-solid.svg" alt="">
                                                    </div>
                                                    <img src="./assets/img/viewavatar.svg" alt="">
                                                    <p>Fix bug review</p>
                                                    <div class="progress">
                                                        <div class="progress__value"></div>
                                                    </div>
                                                    <button type="button" class="btn-add">
                                                        <i class="uil uil-plus"></i>
                                                        <span>Add a child issus</span>
                                                    </button>
                                                </div>
                                                <ul class="epic__sub">
                                                    <li>
                                                        <img src="./assets/img/viewavatar1.svg" alt="">
                                                        <span>Fix lỗi hiển thị phần giao diện game</span>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="epic__item flex">
                                        <ul class="epic__list">
                                            <li>
                                                <div class="epic__header flex-lc">
                                                    <div class="icon flex-center">
                                                        <img class="icon-arr" src="./assets/img/chevron-down-solid.svg" alt="">
                                                    </div>
                                                    <img src="./assets/img/viewavatar.svg" alt="">
                                                    <p>Hỗ trợ vận hành chạy production</p>
                                                    <div class="progress">
                                                        <div class="progress__value"></div>
                                                    </div>
                                                    <button type="button" class="btn-add">
                                                        <i class="uil uil-plus"></i>
                                                        <span>Add a child issus</span>
                                                    </button>
                                                </div>
                                                <ul class="epic__sub">
                                                    <li>
                                                        <img src="./assets/img/viewavatar1.svg" alt="">
                                                        <span>Hỗ trợ đẩy lên production</span>
                                                    </li>
                                                    <li>
                                                        <img src="./assets/img/viewavatar1.svg" alt="">
                                                        <span>Hỗ trợ sau khi chạy cập nhật report</span>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <a href="javascript:;" class="btn_create"><span class="flex-lc"><i class="uil uil-plus"></i> Create Epic</span></a>
                            </div>
                        </div>
                        <div class="epic-detail">
                            <div id="calendar" class="flex"></div>
                            <div class="box-char scrollcs">
                                <div class="chart">
                                    <div class="chart__col">
                                        <div class="col"></div>
                                        <div class="col"></div>
                                        <div class="col"></div>
                                        <div class="col"></div>
                                        <div class="col"></div>
                                        <div class="col"></div>
                                    </div>
                                    <div class="chart__row">
                                        <div class="row">
                                            <div class="tsk-key">
                                                <div class="tdtsk" style="left: 28.76%; right: 67.15%;">
                                                    <button type="button"><img src="./assets/img/svgexport-28.svg" alt=""></button>
                                                    <span class="start">2020/08/13</span>
                                                    <span class="end">2020/08/13</span>
                                                    <div class="dc-left"><i></i></div>
                                                    <div class="dc-right"><i></i></div>
                                                </div>
                                            </div>
                                            <div class="tsk-item">
                                                <div class="prg prg-todo" style="left: 28.76%; right: 67.15%;">
                                                    <div class="prg_content flex-lc">
                                                        <div class="avatar pr">
                                                            <img src="./assets/img/avatar-1.jpg" alt="" class="avt">
                                                            <span>Nguyễn đắc thực</span>
                                                        </div>
                                                        <span class="prg_name">To Do</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tsk-item">
                                                <div class="prg done" style="left: 28.76%; right: 67.15%;">
                                                    <span>Done</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="tsk-key">
                                                <div class="tdtsk" style="left: 37.76%; right: 52.15%;">
                                                    <button type="button"><img src="./assets/img/svgexport-28.svg" alt=""></button>
                                                    <span class="start">2020/08/13</span>
                                                    <span class="end">2020/08/13</span>
                                                    <div class="dc-left"><i></i></div>
                                                    <div class="dc-right"><i></i></div>
                                                </div>
                                            </div>
                                            <div class="tsk-item">
                                                <div class="prg progres" style="left: 37.76%; right: 52.15%;">
                                                    <span>In progress</span>
                                                </div>
                                            </div>
                                            <div class="tsk-item">
                                                <div class="prg progres flex-lc" style="left: 37.76%; right: 52.15%;">
                                                    <div class="avatar">
                                                        <img src="./assets/img/avatar-1.jpg" alt="" class="avt">
                                                    </div>
                                                    <span>In progress</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="tsk-key">
                                                <div class="tdtsk" style="left: 30.76%; right: 60.15%;">
                                                    <button type="button"><img src="./assets/img/svgexport-28.svg" alt=""></button>
                                                    <span class="start">2020/08/13</span>
                                                    <span class="end">2020/08/13</span>
                                                    <div class="dc-left"><i></i></div>
                                                    <div class="dc-right"><i></i></div>
                                                </div>
                                            </div>
                                            <div class="tsk-item">
                                                <div class="prg progres flex-lc" style="left: 30.76%; right: 60.15%;">
                                                    <div class="avatar">
                                                        <img src="./assets/img/avatar-1.jpg" alt="" class="avt">
                                                    </div>
                                                    <span>In progress</span>
                                                </div>
                                            </div>
                                            <div class="tsk-item">
                                                <div class="prg progres" style="left: 30.76%; right: 60.15%;">
                                                    <span>In progress</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="tsk-key">
                                                <div class="tdtsk" style="left: 40.76%; right: 40.15%;">
                                                    <button type="button"><img src="./assets/img/svgexport-28.svg" alt=""></button>
                                                    <span class="start">2020/08/13</span>
                                                    <span class="end">2020/08/13</span>
                                                    <div class="dc-left"><i></i></div>
                                                    <div class="dc-right"><i></i></div>
                                                </div>
                                            </div>
                                            <div class="tsk-item">
                                                <div class="prg prg-todo" style="left: 40.76%; right: 40.15%;">
                                                    <span class="prg_name">To Do</span>
                                                </div>
                                            </div>
                                            <div class="tsk-item">
                                                <div class="prg progres" style="left: 40.76%; right: 40.15%;">
                                                    <span>In progress</span>
                                                </div>
                                            </div>
                                            <div class="tsk-item">
                                                <div class="prg prg-todo" style="left: 40.76%; right: 40.15%;">
                                                    <span class="prg_name">To Do</span>
                                                </div>
                                            </div>
                                            <div class="tsk-item">
                                                <div class="prg prg-todo" style="left: 40.76%; right: 40.15%;">
                                                    <span class="prg_name">To Do</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="tsk-key">
                                                <div class="tdtsk" style="left: 30.76%; right: 60.15%;">
                                                    <button type="button"><img src="./assets/img/svgexport-28.svg" alt=""></button>
                                                    <span class="start">2020/08/13</span>
                                                    <span class="end">2020/08/13</span>
                                                    <div class="dc-left"><i></i></div>
                                                    <div class="dc-right"><i></i></div>
                                                </div>
                                            </div>
                                            <div class="tsk-item">
                                                <div class="prg prg-todo" style="left: 30.76%; right: 60.15%;">
                                                    <span class="prg_name">To Do</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="tsk-key">
                                                <div class="tdtsk" style="left: 50.76%; right: 40.15%;">
                                                    <button type="button"><img src="./assets/img/svgexport-28.svg" alt=""></button>
                                                    <span class="start">2020/08/13</span>
                                                    <span class="end">2020/08/13</span>
                                                    <div class="dc-left"><i></i></div>
                                                    <div class="dc-right"><i></i></div>
                                                </div>
                                            </div>
                                            <div class="tsk-item">
                                                <div class="prg prg-todo" style="left: 50.76%; right: 40.15%;">
                                                    <span class="prg_name">To Do</span>
                                                </div>
                                            </div>
                                            <div class="tsk-item">
                                                <div class="prg prg-todo" style="left: 50.76%; right: 40.15%;">
                                                    <span class="prg_name">To Do</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-create" style="height: 44px;"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- container -->
        <div class="es-info">
            <div class="es-header flex">
                <div class="name flex-lc">
                    <img src="./assets/img/viewavatar.svg" alt="">
                    <span>ES-3</span>
                </div>
                <div class="ml-auto flex-lc">
                    <div class="view flex-lc">
                        <i class="uil uil-eye"></i>
                        <span>1</span>
                    </div>
                    <div class="share">
                        <button type="button" class="btn_share flex-center"><i class="uil uil-share-alt"></i></button>
                    </div>
                    <div class="viewmore navbar pr">
                        <button class="btn-more flex-center" type="button" data-toggle="dropdown">
                            <i class="uil uil-ellipsis-h"></i>
                        </button>
                        <div class="menu_dropdown">
                            <a class="dropdown-item" href="#">Add flag</a>
                            <hr>
                            <a class="dropdown-item" href="#">Move</a>
                            <a class="dropdown-item" href="#">Clone</a>
                            <a class="dropdown-item" href="#">Delete</a>
                            <hr>
                            <a class="dropdown-item" href="#">Print</a>
                            <a class="dropdown-item" href="#">Export XML</a>
                            <a class="dropdown-item" href="#">Export Word</a>
                            <hr>
                            <a class="dropdown-item" href="#">Configure</a>
                        </div>
                    </div>
                    <button type="button" class="close"><i class="uil uil-multiply"></i></button>
                </div>
            </div>
            <div class="es-body">
                <div class="flex-lc">
                    <button type="button" class="btn_color"><div class="color" style="background: rgb(135, 119, 217); height: 100%; border-radius: 3px;"></div></button>
                    <h2 class="title">Dựng Backend</h2>
                </div>
                <div class="action flex">
                    <button type="button" class="flex-center"><img src="./assets/img/svgexport-33.svg" width="24" alt=""></button>
                    <button type="button" class="flex-center"><img src="./assets/img/svgexport-34.svg" width="24" alt=""></button>
                    <button type="button" class="flex-center"><img src="./assets/img/svgexport-35.svg" width="24" alt=""></button>
                    <div class="viewmore navbar pr">
                        <button class="btn-more flex-center" type="button" data-toggle="dropdown">
                            <i class="uil uil-ellipsis-h"></i>
                        </button>
                        <div class="menu_dropdown">
                            <a class="dropdown-item" href="#"><i class="uil uil-plus"></i> Add apps</a>
                        </div>
                    </div>
                </div>
                <div class="description">
                    <h4>Description</h4>
                    <span>Add a description...</span>
                </div>
                <div class="child-issue">
                    <div class="issue_header flex-center">
                        <h4>Child issues</h4>
                        <div class="viewmore navbar ml-auto pr">
                            <button class="btn-more flex-center" type="button" data-toggle="dropdown">
                                <i class="uil uil-ellipsis-h"></i>
                            </button>
                            <div class="menu_dropdown">
                                <a class="dropdown-item" href="#">Bulk edit</a>
                                <a class="dropdown-item" href="#">View in search</a>
                            </div>
                        </div>
                        <button class="btn_add"><img src="./assets/img/svgexport-37.svg" width="18" alt=""></button>
                    </div>
                    <div class="process flex-lc">
                        <div class="process_bar"><div class="value"></div></div>
                        <p>0% Done</p>
                    </div>
                    <ul class="issue_list">
                        <li>
                            <img src="./assets/img/viewavatar1.svg" alt="">
                            <a href="">ES-12</a>
                            <p>Ghép với giao diện dựng</p>
                            <div class="author pr">
                                <img src="./assets/img/default-avatar-3.png" alt="">
                                <span>Thuclfc</span>
                            </div>
                            <span class="st inprogress">In progress</span>
                        </li>
                        <li>
                            <img src="./assets/img/viewavatar1.svg" alt="">
                            <a href="">ES-12</a>
                            <p>Ghép với giao diện dựng</p>
                            <div class="author pr">
                                <img src="./assets/img/default-avatar-3.png" alt="">
                                <span>Thuclfc</span>
                            </div>
                            <span class="st inprogress">In progress</span>
                        </li>
                    </ul>
                </div>
                <div class="linked-issue">
                    <div class="header flex">
                        <h4>Linked issues</h4>
                        <button class="btn_add"><img src="./assets/img/svgexport-37.svg" width="18" alt=""></button>
                    </div>
                    <div class="item">
                        <h5>blocks</h5>
                        <div class="content flex-lc">
                            <img src="./assets/img/viewavatar.svg" alt="">
                            <a href="">ES-12</a>
                            <p>Review</p>
                            <div class="dr pr">
                                <img src="./assets/img/medium.svg" width="20" alt="">
                                <span>Medium</span>
                            </div>
                            <div class="author pr">
                                <img src="./assets/img/default-avatar-3.png" alt="">
                                <span>Thuclfc</span>
                            </div>
                            <span class="st todo">To Do</span>
                        </div>
                    </div>
                    <div class="item">
                        <h5>is blocked by</h5>
                        <div class="content flex-lc">
                            <img src="./assets/img/viewavatar.svg" alt="">
                            <a href="">ES-12</a>
                            <p>Review</p>
                            <div class="author pr">
                                <img src="./assets/img/default-avatar-3.png" alt="">
                                <span>Thuclfc</span>
                            </div>
                            <span class="st todo">To Do</span>
                        </div>
                    </div>
                </div>
                <div class="assignee">
                    <h6>Assignee</h6>
                    <select class="selectimg">
                        <option value="" data-img="./assets/img/svgexport-38.svg">Unassigned</option>
                        <option value="" data-img="./assets/img/T-0.png">Thuclfc</option>
                    </select>
                    <div class="box-select">
                        <button class="btn-select" value=""></button>
                        <ul class="select_list"></ul>
                    </div>
                </div>
                <div class="label">
                    <h6>Labels</h6>
                    <select name="" class="sldr" multiple>
                        <option>question</option>
                        <option>rich</option>
                        <option>poor</option>
                    </select>
                </div>
                <div class="date">
                    <h6>Start date</h6>
                    <input type="text" class="form-control"  value="08/20/2020">
                </div>
                <div class="date">
                    <h6>Due date</h6>
                    <input type="text" class="form-control" value="08/22/2020">
                </div>
                <div class="reporter">
                    <h6>Reporter</h6>
                    <select class="selectimg">
                        <option value="" data-img="./assets/img/svgexport-38.svg">Tamvt</option>
                        <option class="test" data-img="./assets/img/T-0.png">Thuclfc</option>
                    </select>
                    <div class="lang-select">
                        <button class="btn-select" value=""></button>
                        <ul class="select_list"></ul>
                    </div>
                </div>
                <div class="info">
                    <p>Created August 12, 2020, 6:41 AM</p>
                    <p>Updated August 12, 2020, 6:50 AM</p>
                </div>
                <div class="activity">
                    <h5>Activity</h5>
                    <ul class="tab-activity nav flex">
                        <li><span>Show:</span></li>
                        <li><a href="#comments" data-toggle="tab" class="active" title="">Comments</a></li>
                        <li><a href="#history" data-toggle="tab" title="">History</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="comments" class="tab-pane fade show active">
                            <div class="comment flex-lc">
                                <div class="avt"><img src="./assets/img/T-0.png" width="32px" alt=""></div>
                                <div class="input">Add a comment...</div>
                            </div>
                        </div>
                        <div id="history" class="tab-pane fade">
                            <ul class="history">
                                <li>
                                    <div class="avt"><img src="./assets/img/T-0.png" width="32px" alt=""></div>
                                    <div class="content">
                                        <strong>Tam Vu</strong>
                                        created the <strong>Issue</strong> August 12, 2020, 6:41 AM
                                    </div>
                                </li>
                                <li>
                                    <div class="avt"><img src="./assets/img/T-0.png" width="32px" alt=""></div>
                                    <div class="content">
                                        <strong>Tam Vu</strong>
                                        created the <strong>Issue</strong> August 12, 2020, 6:41 AM
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- content -->
</div>

<div class="modal fade modal-task" id="modal-task">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header flex-lc">
                <div class="flex link">
                    <a href="" class="flex-lc"><img src="./assets/img/viewavatar.svg" alt=""><span>Review</span></a>
                    <a href="" class="flex-lc"><img src="./assets/img/viewavatar1.svg" alt=""><span>ES-16</span></a>
                </div>
                <div class="ml-auto flex-lc">
                    <div class="view flex-lc">
                        <img src="./assets/img/svgexport-29.svg" alt="">
                        <span>1</span>
                    </div>
                    <div class="share">
                        <button type="button" class="btn_share flex-center"><img src="./assets/img/svgexport-30.svg" alt=""></button>
                    </div>
                    <div class="viewmore navbar pr">
                        <button class="btn-more flex-center" type="button" data-toggle="dropdown">
                            <img src="./assets/img/svgexport-32.svg" alt="">
                        </button>
                        <div class="menu_dropdown">
                            <a class="dropdown-item" href="#">Add flag</a>
                            <hr>
                            <a class="dropdown-item" href="#">Move</a>
                            <a class="dropdown-item" href="#">Clone</a>
                            <a class="dropdown-item" href="#">Delete</a>
                            <hr>
                            <a class="dropdown-item" href="#">Print</a>
                            <a class="dropdown-item" href="#">Export XML</a>
                            <a class="dropdown-item" href="#">Export Word</a>
                            <hr>
                            <a class="dropdown-item" href="#">Configure</a>
                        </div>
                    </div>
                    <button type="button" class="close" data-dismiss="modal">
                        <img src="./assets/img/svgexport-31.svg" alt="">
                    </button>
                </div>
            </div>
            <div class="modal-body flex">
                <div class="col-left">
                    <h2 class="title">Test logo các phần UI</h2>
                    <div class="action flex">
                        <button type="button" class="flex-center">
                            <img src="./assets/img/svgexport-33.svg" width="24" alt="">
                            Attach
                        </button>
                        <button type="button" class="flex-center">
                            <img src="./assets/img/svgexport-34.svg" width="24" alt="">
                            Add a child issue
                        </button>
                        <button type="button" class="flex-center">
                            <img src="./assets/img/svgexport-35.svg" width="24" alt="">
                            Link issue
                        </button>
                        <div class="viewmore navbar pr" style="border-left: 1px solid #e4e1e1; margin-left: 0;">
                            <button class="flex-center" type="button" data-toggle="dropdown">
                                <img src="./assets/img/svgexport-40.svg" width="24" alt="">
                            </button>
                            <div class="menu_dropdown">
                                <a class="dropdown-item" href="#"><img src="./assets/img/svgexport-39.svg" width="24" alt=""> Add web link</a>
                            </div>
                        </div>
                        <div class="viewmore navbar pr">
                            <button class="btn-more flex-center" type="button" data-toggle="dropdown">
                                <i class="uil uil-ellipsis-h"></i>
                            </button>
                            <div class="menu_dropdown">
                                <a class="dropdown-item" href="#"><i class="uil uil-plus"></i> Add apps</a>
                            </div>
                        </div>
                    </div>
                    <div class="description">
                        <h4>Description</h4>
                        <span>Add a description...</span>
                    </div>
                    <div class="activity">
                        <h5>Activity</h5>
                        <ul class="tab-activity nav flex">
                            <li><span>Show:</span></li>
                            <li><a href="#comment1" data-toggle="tab" class="active" title="">Comments</a></li>
                            <li><a href="#history1" data-toggle="tab" title="">History</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="comment1" class="tab-pane fade show active">
                                <ul class="comment_list">
                                    <li class="flex">
                                        <img class="avt" src="./assets/img/T-0.png" width="32px" alt="">
                                        <div class="content">
                                            <h5>Nguyễn Đắc Thực <time>4 phút trước</time></h5>
                                            <p>Nội dung comment</p>
                                            <div class="action flex">
                                                <a href="javascript:;">Edit</a>
                                                <a href="javascript:;">Delete</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="comment flex-lc">
                                    <div class="avt"><img src="./assets/img/T-0.png" width="32px" alt=""></div>
                                    <div class="input">Add a comment...</div>
                                </div>
                                <div class="note"><span>Pro tip:</span> press <b>M</b> to comment</div>
                            </div>
                            <div id="history1" class="tab-pane fade">
                                <ul class="history">
                                    <li>
                                        <div class="avt"><img src="./assets/img/T-0.png" width="32px" alt=""></div>
                                        <div class="content">
                                            <strong>Tam Vu</strong>
                                            created the <strong>Issue</strong> August 12, 2020, 6:41 AM
                                        </div>
                                    </li>
                                    <li>
                                        <div class="avt"><img src="./assets/img/T-0.png" width="32px" alt=""></div>
                                        <div class="content">
                                            <strong>Tam Vu</strong>
                                            created the <strong>Issue</strong> August 12, 2020, 6:41 AM
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-right">
                    <div class="task-status">
                        <select class="select_dr">
                            <option value="" data-class="todo">To Do</option>
                            <option value="" data-class="done">Done</option>
                            <option value="" data-class="inprogress">IN PROGRESS</option>
                            <option value="" data-class="research">RESEARCH</option>
                        </select>
                        <div class="box-select">
                            <button class="btn-select" value=""></button>
                            <ul class="select_list"></ul>
                        </div>
                    </div>
                    <div class="assignee">
                        <h6>Assignee</h6>
                        <select class="select_dr">
                            <option value="" data-img="./assets/img/svgexport-38.svg">Unassigned</option>
                            <option value="" data-img="./assets/img/T-0.png">Thuclfc</option>
                        </select>
                        <div class="box-select">
                            <button class="btn-select" value=""></button>
                            <ul class="select_list"></ul>
                        </div>
                    </div>
                    <div class="label">
                        <h6>Labels</h6>
                        <select name="" class="sldr" multiple>
                            <option>question</option>
                            <option>rich</option>
                            <option>poor</option>
                        </select>
                    </div>
                    <div class="reporter">
                        <h6>Reporter</h6>
                        <select class="select_dr">
                            <option value="" data-img="./assets/img/svgexport-38.svg">Tamvt</option>
                            <option class="test" data-img="./assets/img/T-0.png">Thuclfc</option>
                            <option class="test" data-img="./assets/img/T-0.png">abc</option>
                        </select>
                        <div class="box-select">
                            <button class="btn-select" value=""></button>
                            <ul class="select_list"></ul>
                        </div>
                    </div>
                    <div class="info">
                        <p>Created August 12, 2020, 6:41 AM</p>
                        <p>Updated August 12, 2020, 6:50 AM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>