$img-path: "../img";
$font-path: "../font";
.flex{
  display: flex;
  flex-wrap: wrap;
}
.flex-lc{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.flex-center{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.left-side-menu{
  background: #333;
}
.box-epic{
  height: calc(100vh - 230px);
  position: relative;
  .epic_nd{
    height: calc(100vh - 297px); overflow-y: auto;
    &::-webkit-scrollbar{width: 0;}
  }
}
.epic-scroll{
  height: 494px;
  position: absolute;
  right: 0; top: 56px;
  .scroll-bar{
    width: 10px; height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  .scroll-track{
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    width: 10px;
    height: 186px;
    border-radius: 10px;
  }
}
.epic-detail{
  width: calc(100% - 320px); height: 100%; border-bottom: 1px solid #dfe1e6; overflow: auto;
  &::-webkit-scrollbar {
    height: 10px;
  }
  &::-webkit-scrollbar-track {

    background: #f1f1f1; border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    height: 10px;
    background: #999; border-radius: 10px;
  }
}
.epic{
  width: 320px;
  padding-bottom: 10px;
  border: 1px solid rgb(223, 225, 230);
  height: 100%;
  overflow: hidden;
  &__content{}
  &__header:hover{
    .btn-add{opacity: 1; visibility: visible; z-index: 9;}
  }
  &__item:nth-child(even){background-color: rgb(244, 245, 247);}
  &__list{width: 100%; padding-left: 0; margin-bottom: 0;}
  &__sub{
    display: none; padding-left: 0;
    li{display: flex; align-items: center; padding: 6px 10px 6px 45px;  cursor: pointer;}
    li:hover{background: #ebecf0;}
    span{display: block; margin-top: 4px; font-size: 14px; color: #333; line-height: 1.2;}
  }
  &__header{
    padding: 7px 0 5px; cursor: pointer;
    &:hover{background: #ebecf0;}
  }
  .active{
    .icon-arr{transform: rotate(0deg);}
    .epic__sub{display: block;}
  }
  li{
    list-style: none; position: relative;
    img{margin-right: 6px;}
  }
  h4{
    width: 100%;
    height: 55px;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(244, 245, 247);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px solid rgb(223, 225, 230);
    flex: 0 0 auto;
    padding: 0px 16px 0px 24px;
    font-weight: normal;
    font-size: 16px;
    color: #000;
  }
  .icon{width: 24px; height: 24px; cursor: pointer;}
  .icon-arr{
    width: 10px; transform: rotate(-90deg);
    margin-right: 0;
  }
  p{width: calc(100% - 50px); margin-bottom: 0; color: #333;}
  .progress{
    width: 100%; max-width: 172px; height: 4px; border-radius: 4px; margin: 4px 0 0 46px; position: relative; background-color: rgb(193, 199, 208);
    &__value{width: 50%; height: 100%; position: absolute; top: 0; left: 0; background: rgb(54, 179, 126);  border-radius: 4px;}
  }
  .btn-add{
    width: 22px; height: 22px;
    padding: 0; opacity: 0; visibility: hidden;
    background: #dfe1e6; border-radius: 4px; border: none;
    position: absolute; right: 8px; z-index: -1;
    transition: .25s;
    i{color: #44526d; font-size: 17px;}
    span{
      display: none; padding: 0 5px; font-size: 12px; background: #1b2b4c; border-radius: 4px; color: #fff;
      white-space: nowrap;
      position: absolute; bottom: -25px; left: 50%; transform: translateX(-50%); z-index: 9;
    }
    &:hover span{display: block;}
  }
  .btn_create{
    width: 100%; display: block; margin: 0 auto; color: #333; padding: 5px 10px;
    span{padding: 6.5px 10px;}
    i{margin-right: 10px;}
    &:hover span{background: rgb(235, 236, 240);}
  }
}
.box-char{
  height: calc(100% - 56px); overflow-y: auto; overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 0px;
  }
}
.chart{
  position: relative;
  &__row{
    width: 100%;
    position: absolute; top: 0; overflow: hidden;
    .row{
      margin: 0;
      > div{width: 100%; display: flex; align-items: center;}
      > div.tsk-item{display: none;}
    }
    .row.active > .tsk-item{display: flex;}
    .row:nth-child(even){background: rgb(244, 245, 247);}
    .tsk-key{height: 44px;}
    .tsk-item{height: 32px;}
  }
}
.chart__col{
  display: flex;
  left: 0;
  height: 100%;
  position: relative;
  .col{
    width: 253px;
    min-height: calc(100vh - 297px);
    box-sizing: border-box;
    flex: 0 0 auto;
    position: relative;
    &::after{
      content: "";
      background: rgb(223, 225, 230);
      width: 1px; height: 100%;
      position: absolute; right: 0; z-index: 9;
    }
  }
}
.tdtsk{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 24px;
  min-width: 3px;
  z-index: 3;
  visibility: visible;
  cursor: pointer;
  padding: 0px 5px;
  transition: left 0.1s ease 0s, right 0.1s ease 0s;
  border-radius: 3px;
  background: rgb(135, 119, 217);
  z-index: 9;
  &::before,&::after{
    content: "";
    width: 8px; height: 8px;
    background: rgb(135, 119, 217);
    border-radius: 50%;
    position: absolute; z-index: 2;
    opacity: 0; visibility: hidden;
    transition: all .2s ease;
  }
  &::before{top: 10px; left: 8px;}
  &::after{bottom: 10px; right: 8px;}
  &:hover{
    span{display: block;}
    .dc-left,.dc-right{
      i{visibility: visible;}
    }
    &::after,&::before{opacity: 1; visibility: visible;}
    &::before{top: -10px;}
    &::after{bottom: -10px;}
  }
  span{position: absolute; font-size: 11px; display: none;}
  .start{left: -70px;}
  .end{right: -70px;}
  .dc-left,.dc-right{
    visibility: hidden;
    position: absolute;
    top: 0px;
    bottom: 0px;
    cursor: col-resize;
    padding: 4px;
    i{
      width: 6px;
      height: 16px;
      display: block;
      background-color: rgb(64, 50, 148);
      border-radius: 3px;
    }
  }
  .dc-right{right: 0;}
  .dc-left{left: 0;}
  button{
    display: flex;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    align-items: center;
    justify-content: center;
    pointer-events: all;
    border-radius: 50%;
    border: none;
    background: none;
    img{width: 16px;}
    &:hover{background-color: rgba(0, 0, 0, 0.1);}
    &:focus{outline: none;}
  }
}
.prg{
  position: absolute;
  .avatar{
    position: relative;
    span{
      display: none;
      padding: 2px 5px; border-radius: 4px;
      font-size: 12px; background: #172b4c; color: #fff; text-transform: capitalize; white-space: nowrap;
      position: absolute; bottom: -25px; left: 50%; transform: translateX(-50%); opacity: 0; z-index: 9;
    }
    &:hover span{display: block; opacity: 1;}
  }
  .avt{width: 16px; height: 16px; margin-right: 8px; object-fit: cover; border-radius: 50%;}
  &.done{
    span{
      background-color: rgb(227, 252, 239);
      box-sizing: border-box;
      color: rgb(0, 102, 68);
      display: inline-block;
      font-size: 11px;
      font-weight: 700;
      line-height: 1;
      max-width: 100%;
      text-transform: uppercase;
      vertical-align: baseline;
      border-radius: 3px;
      padding: 2px 0px 3px;
    }
  }
  &.progres{
    span{
      background-color: rgb(222, 235, 255);
      box-sizing: border-box;
      color: rgb(7, 71, 166);
      display: inline-block;
      font-size: 11px;
      font-weight: 700;
      line-height: 1;
      max-width: 100%;
      text-transform: uppercase;
      vertical-align: baseline;
      border-radius: 3px;
      padding: 2px 0px 3px;
    }
  }
  &_content{flex-wrap: nowrap;}
  &_name{
    background-color: rgb(223, 225, 230);
    box-sizing: border-box;
    color: rgb(66, 82, 110);
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    line-height: 1;
    max-width: 100%;
    text-transform: uppercase;
    vertical-align: baseline;
    border-radius: 3px;
    padding: 2px 4px 3px;
    white-space: nowrap;
  }
}
.es-info{
  width: 410px;
  height: calc(100vh - 215px);
  background: #fff;
  padding: 8px 20px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px 0px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  position: absolute; right: 0; bottom: 0;
  opacity: 1; visibility: visible; transition: all .3s ease;
  z-index: 99; overflow: auto;
  &.show{right: 0; opacity: 1; visibility: visible;}
  h4{margin: 0; color: #1b2b4d; font-size: 16px; font-weight: 600;}
  .es-header{margin-bottom: 5px;}
  .name{font-size: 13px;}
  .name span{margin-left: 6px;}
  button{border: none;}
  .view{
    font-size: 15px;
    i{margin-right: 10px; font-size: 26px; line-height: 1;}
  }
  .share{margin: 0 10px 0 20px;}
  .btn_share,.btn-more{
    width: 36px; height: 32px; border-radius: 3px;
    background: none; padding: 0;
    &:hover{background: #ebecf0;}
    i{font-size: 24px; line-height: 1;}
  }
  .viewmore{
    padding: 0;
    margin-right: 20px;
    &.show{
      .menu_dropdown{display: block;}
      .btn-more{background: #0A1F44;}
      i{color: #fff;}
    }
  }
  .menu_dropdown{
    display: none;
    position: absolute;
    background: #fff;
    top: 40px;
    right: 0;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.31) 0px 0px 1px;
    min-width: 150px; z-index: 9;
    hr{margin: 0;}
  }
  .btn_color{
    width: 24px; height: 24px; margin-right: 10px; padding: 0; border-radius: 3px;
  }
  .title{color: rgb(23, 43, 77); font-weight: normal; font-size: 1.71429em;}
  .action{
    margin-top: 5px;
    >*+*{margin-left: 10px;}
    button{padding: 0; width: 32px; height: 32px; border-radius: 3px; background: #f6f6f8;}
    i{font-size: 22px; line-height: 1; color: #525f79;}
    .viewmore{
      a{color: #0A3BB5;}
      .menu_dropdown i{color: #0A3BB5;}
    }
  }
  .description{
    margin-top: 20px;
    h4{
      margin: 0;
      font-size: 1em;
      font-style: inherit;
      font-weight: 600;
      letter-spacing: -0.003em;
      line-height: 24px;
      color: #1b2b4d;
      overflow-wrap: break-word;
    }
    span{
      padding: 5px;
      align-items: center;
      background-color: transparent;
      box-sizing: border-box;
      color: #6d778c;
      display: flex;
      font-size: 14px;
      -webkit-box-pack: justify;
      justify-content: space-between;
      line-height: 1.42857;
      max-width: 100%;
      overflow-wrap: break-word;
      border-color: transparent;
      border-radius: 3px;
      border-style: solid;
      flex: 1 0 auto;
      overflow: hidden;
      transition: background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
      border-width: 2px;
    }
    span:hover{background: #ebecf0;}
  }
  .child-issue{
    margin-top: 20px;
    .menu_dropdown{top: 30px;}
    button{padding: 0; width: 24px; height: 24px;}
    .viewmore{margin-right: 8px;}
    .btn-more i{font-size: 20px;}
  }
  .issue_list,.linked-issue{
    margin-top: 10px;
    padding: 0;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.31) 0px 0px 1px 0px;
    li{display: flex; flex-wrap: wrap; align-items: center; padding: 0 10px; min-height: 40px; border: 1px solid #f8f8f9; border-radius: 4px; list-style: none;}
    p{margin-bottom: 0; max-width: 140px; min-width: 120px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
    a,p{font-size: 13px;}
    a{margin: 0 6px; font-weight: 700; color: #8a93a4;}
    .author{margin: 0 6px;}
  }
  .linked-issue{
    box-shadow: none;
    h5{
      margin: 10px 0;
      font-size: 0.857143em;
      font-style: inherit;
      line-height: 1.33333;
      color: rgb(107, 119, 140);
      font-weight: 600;
    }
    .header{justify-content: space-between; align-items: center;}
    .content{
      padding: 0 10px; min-height: 40px; border: 1px solid #f8f8f9; border-radius: 4px; list-style: none;
      box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.31) 0px 0px 1px 0px;
    }
    .dr{margin-right: 10px;}
  }
  .assignee,.reporter{
    margin-top: 20px;
    h6{margin-bottom: 5px;}
  }
  .label,.date{
    margin-top: 20px;
    h6{margin: 0 0 5px 0;}
  }
  .info{
    padding-top: 15px;
    box-shadow: rgb(235, 236, 240) 0px 2px 0px 0px inset;
    margin-top: 20px;
    p{margin-bottom: 5px; font-size: 14px;}
  }
  .activity{
    margin-top: 20px;

  }
  .process{
    margin-top: 5px;
    background: none;
    justify-content: space-between;
    &_bar{
      width: 100%; height: 10px; max-width: 270px;
      background: #2350cb; border-radius: 9999px;
    }
    .value{height: 100%;}
    p{margin-bottom: 0; color: #6d778c; font-size: 14px;}
  }
  .st{
    margin-left: auto;
    box-sizing: border-box;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    line-height: 1;
    max-width: 100%;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 4px 4px 3px;
    cursor: pointer;
    &.inprogress{
      color: rgb(7, 71, 166);
      background-color: rgb(222, 235, 255);
      &:hover{color: rgb(255, 255, 255); background-color: rgb(0, 82, 204);}
    }
    &.todo{
      color: rgb(66, 82, 110);
      background-color: rgb(223, 225, 230);
      &:hover{
        color: rgb(23, 43, 77);
        background-color: rgb(165, 173, 186);
      }
    }
  }
  .btn_add{
    width: 24px; height: 24px; padding: 0; background: none;
    &:hover{background: #f4f5f7;}
  }
  .tab-activity{
    span{font-size: 14px; margin-right: 6px;}
    a{
      background-color: rgb(222, 235, 255);
      align-items: baseline;
      box-sizing: border-box;
      display: inline-flex;
      font-size: 14px;
      font-style: normal;
      font-weight: normal;
      max-width: 100%;
      text-align: center;
      white-space: nowrap;
      cursor: pointer;
      height: 1.71429em;
      line-height: 1.71429em;
      vertical-align: middle;
      width: auto;
      color: rgb(80, 95, 121);
      border-width: 0px;
      text-decoration: none;
      border-radius: 3px;
      padding: 0px 4px;
      transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
      margin: 0px 4px;
      outline: none !important;
    }
    a.active{background-color: rgb(80, 95, 121); color: rgb(244, 245, 247);}
  }
  .comment{
    margin-top: 15px;
    .avt{
      margin-right: 12px;
      img{border-radius: 50%; object-fit: cover;}
    }
    .input{
      width: calc(100% - 44px);
      background-color: white;
      box-sizing: border-box;
      height: 40px;
      padding: 10px 20px;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.42857;
      letter-spacing: -0.005em;
      color: rgb(94, 108, 132);
      border-width: 1px;
      border-style: solid;
      border-color: rgb(223, 225, 230);
      border-image: initial;
      border-radius: 3px;
    }
  }
  .history{
    padding: 0;
    li{display: flex; align-items: center; flex-wrap: wrap; margin: 20px 0; list-style: none;}
    .avt{width: 32px; margin-right: 12px;}
    .content{width: calc(100% - 44px);}
  }
}

.modal-task{
  .modal-dialog{max-width: 1040px}
  .modal-content{border: none; border-radius: 3px;}
  .modal-header{padding: 24px 32px; border: none;}
  .modal-body{
    padding: 10px 32px 24px;
    .col-left{width: 70%; padding-right: 15px;}
    .col-right{width: 30%; padding-left: 15px;}
  }
  .link{
    a{font-size: 13px; color: rgb(107, 119, 140);}
    a:nth-child(1)::after{
      content: "/";
      color: rgb(107, 119, 140);
      margin: 0 10px;
    }
    span{margin-left: 5px;}
  }
  .close{opacity: .9;}
  button{border: none;}
  .view{
    height: 32px; border-radius: 3px;
    padding: 0 10px;
    font-size: 15px;
    span{margin-left: 10px;}
    &:hover{background: #ebecf0;}
  }
  .share{margin: 0 10px 0 20px;}
  .btn_share,.btn-more{
    width: 36px; height: 32px; border-radius: 3px;
    background: none; padding: 0;
    &:hover{background: #ebecf0;}
    i{font-size: 24px; line-height: 1;}
  }
  .viewmore{
    padding: 0;
    margin-right: 10px;
    &.show{
      .menu_dropdown{display: block;}
      .btn-more{background: #0A1F44;}
      i{color: #fff;}
    }
  }
  .menu_dropdown{
    display: none;
    position: absolute;
    background: #fff;
    top: 40px;
    right: 0;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.31) 0px 0px 1px;
    min-width: 150px; z-index: 9;
    hr{margin: 0;}
  }
  .title{margin: 0 0 4px; color: rgb(23, 43, 77); font: 500 1.71429em Roboto, sans-serif;}
  .action{
    margin-top: 5px;
    >*+*{margin-left: 10px;}
    button{ padding: 0 8px; height: 32px; border-radius: 3px; background: #f6f6f8;}
    img{margin-right: 5px;}
    .viewmore{
      a{color: #0A3BB5;}
      .menu_dropdown i{color: #0A3BB5;}
    }
  }
  .description{
    margin-top: 35px;
    h4{
      margin: 0;
      font-size: 1em;
      font-style: inherit;
      font-weight: 600;
      letter-spacing: -0.003em;
      line-height: 24px;
      color: #1b2b4d;
      overflow-wrap: break-word;
    }
    span{
      padding: 5px;
      margin: 0 -5px;
      align-items: center;
      background-color: transparent;
      box-sizing: border-box;
      color: #6d778c;
      display: flex;
      font-size: 14px;
      -webkit-box-pack: justify;
      justify-content: space-between;
      line-height: 1.42857;
      max-width: 100%;
      overflow-wrap: break-word;
      border-color: transparent;
      border-radius: 3px;
      border-style: solid;
      flex: 1 0 auto;
      overflow: hidden;
      transition: background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
      border-width: 2px;
    }
    span:hover{background: #ebecf0;}
  }
  .activity{
    margin-top: 35px;
  }
  .process{
    margin-top: 5px;
    background: none;
    justify-content: space-between;
    &_bar{
      width: 100%; height: 10px; max-width: 270px;
      background: #2350cb; border-radius: 9999px;
    }
    .value{height: 100%;}
    p{margin-bottom: 0; color: #6d778c; font-size: 14px;}
  }
  .st{
    margin-left: auto;
    box-sizing: border-box;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    line-height: 1;
    max-width: 100%;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 4px 4px 3px;
    cursor: pointer;
    &.inprogress{
      color: rgb(7, 71, 166);
      background-color: rgb(222, 235, 255);
      &:hover{color: rgb(255, 255, 255); background-color: rgb(0, 82, 204);}
    }
    &.todo{
      color: rgb(66, 82, 110);
      background-color: rgb(223, 225, 230);
      &:hover{
        color: rgb(23, 43, 77);
        background-color: rgb(165, 173, 186);
      }
    }
  }
  .btn_add{
    width: 24px; height: 24px; padding: 0; background: none;
    &:hover{background: #f4f5f7;}
  }
  .tab-activity{
    span{font-size: 14px; margin-right: 6px;}
    a{
      background-color: rgb(222, 235, 255);
      align-items: baseline;
      box-sizing: border-box;
      display: inline-flex;
      font-size: 14px;
      font-style: normal;
      font-weight: normal;
      max-width: 100%;
      text-align: center;
      white-space: nowrap;
      cursor: pointer;
      height: 1.71429em;
      line-height: 1.71429em;
      vertical-align: middle;
      width: auto;
      color: rgb(80, 95, 121);
      border-width: 0px;
      text-decoration: none;
      border-radius: 3px;
      padding: 0px 4px;
      transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
      margin: 0px 4px;
      outline: none !important;
    }
    a.active{background-color: rgb(80, 95, 121); color: rgb(244, 245, 247);}
  }
  .comment{
    margin-top: 25px;
    .avt{
      margin-right: 12px;
      img{border-radius: 50%; object-fit: cover;}
    }
    .input{
      width: calc(100% - 44px);
      background-color: white;
      box-sizing: border-box;
      height: 40px;
      padding: 10px 20px;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.42857;
      letter-spacing: -0.005em;
      color: rgb(94, 108, 132);
      border-width: 1px;
      border-style: solid;
      border-color: rgb(223, 225, 230);
      border-image: initial;
      border-radius: 3px;
    }
  }
  .comment_list{
    margin-top: 20px;
    padding-left: 0;
    li{align-items: flex-start;}
    .content{width: calc(100% - 32px); padding-left: 10px; font-family: Roboto, sans-serif;}
    h5{color: rgb(66, 82, 110); font-weight: 500;}
    h5 time{color: rgb(107, 119, 140); font-weight: normal; font-size: 12px;}
    p{font-size: 13px; margin-bottom: 8px; color: #111;}
    .action a{
      color: rgb(66, 82, 110);
    }
  }
  .history{
    padding: 0;
    li{display: flex; align-items: center; flex-wrap: wrap; margin: 20px 0; list-style: none;}
    .avt{width: 32px; margin-right: 12px;}
    .content{width: calc(100% - 44px);}
  }
  .note{
    margin-top: 5px;
    padding-left: 44px;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    span{font-weight: 500;}
  }
  .assignee,.reporter{
    margin-top: 30px;
    h6{margin-bottom: 5px;}
  }
  .label,.date{
    margin-top: 30px;
    h6{margin: 0 0 5px 0;}
  }
  .info{
    padding-top: 15px;
    box-shadow: rgb(235, 236, 240) 0px 2px 0px 0px inset;
    margin-top: 20px;
    p{margin-bottom: 5px; font-size: 12px;}
  }
  .task-status{
    .btn-select{
      width: auto; height: auto; padding: 0; border: none !important;
      &:hover{background: none;}
      .selected{
        padding: 6px 12px; padding-right: 35px; border-radius: 4px;
        span{font: 500 13px Roboto, sans-serif;}
        &.todo{background: #e4e4e4 url("#{$img-path}/svgexport-5.svg") no-repeat right center;}
        &.done,&.inprogress{background: #2350cb url("#{$img-path}/svgexport-6.svg") no-repeat right center; color: #fff;}
        &.research{background: rgb(0, 135, 90) url("#{$img-path}/svgexport-6.svg") no-repeat right center; color: #fff;}
      }
    }
    .btn-select:focus{border: none !important;}
    .select_list{
      .selected:hover{background: #e0ebff;}
      .selected span{font: 500 13px Roboto, sans-serif; padding: 1px 3px; border-radius: 4px;}
      span.done,span.inprogress{color: #1e46a5; background: #e0ebff;}
      span.todo{color: #44526e; background: #dfe1e6;}
      span.research{color: #186746; background: #e5fcf0;}
    }
  }
}

//custom selectmin2
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  border: none;
  display: inline-block;
  margin: 4px 0 0 5px;
  padding: 0;
  background-color: rgb(244, 245, 247);
  color: #0052cc;
}
.select2-container--default .select2-results__option[aria-selected=true]:hover{
  background: #f4f5f7; color: #000;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{background: #f4f5f7; color: #000;}
.datepicker table tr td.today{
  background: #fff !important;
  font-weight: 700;
  color: #0A3BB5;
  border-bottom: 2px solid #0A3BB5;
}

//calendar
#calendar {
  height: 56px;
  margin-left: -1px;
  border-top: none;
  font-size: 12px;
  flex-wrap: nowrap;
  .week{min-width: 254px; padding-top: 1px; margin-right: -1px; background-color: rgb(244, 245, 247); border: 1px solid rgb(223, 225, 230); }
  .week_month{text-align: center;}
  .week_label{
    div{width: 36px; text-align: center;}
  }
  .calendar-table{}
  table {
    width: 100%;
    margin-top: -42px;
    border-collapse: collapse;
  }

  .week-days {
    color: #fff;
  }

  .day {
    width: 36px;
    text-align: center;
  }
  .other-month {
    opacity: 0.5;
  }
}

//select with img
.select_dr{display: none;}

.btn-select img{width: 24px; margin-right: 10px;}

.select_list{
  display: none;
  background: #fff;
  padding: 8px 0;
  width: 100%;
  max-width: 310px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 5px;
  position: absolute; z-index: 9;
  .selected{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 8px 10px;
    cursor: pointer;
  }
  .selected:hover{
    background-color: #F4F3F3;
  }
  .selected span{margin-left: 10px;}
  .selected img{width: 30px;}
}
.open{
  display: block !important;
}

.btn-select{
  width: 100%;
  max-width: 350px;
  height: 34px;
  padding: 0 10px;
  border: 2px solid transparent !important;
  border-radius: 3px;
  background-color: #fff;
  display: flex; align-items: center;
  margin-bottom: 10px;
  &:focus{border: 2px solid #0A3BB5 !important;}
}
.btn-select .selected{
  list-style: none;
  float: left;
  padding-bottom: 0px;
}
.btn-select:hover .selected{
  margin-left: 0px;
}
.btn-select:hover{
  background-color: #F4F3F3;
}

.btn-select:focus{
  outline:none;
}

//uikit
.pr{position: relative;}
.author{
  img{width: 24px; object-fit: cover;}
  &:hover span{display: block;}
  span{
    display: none;
    padding: 0 5px;
    font-size: 12px;
    background: #1b2b4c;
    border-radius: 4px;
    color: #fff;
    white-space: nowrap;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
  }
}
.dr{
  &:hover span{display: block;}
  span{
    display: none;
    padding: 0 5px;
    font-size: 12px;
    background: #1b2b4c;
    border-radius: 4px;
    color: #fff;
    white-space: nowrap;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
  }
}
